::selection {
    background: #ac2929;
    color: #fff;
}
a {
    color: #fff;
    filter: drop-shadow(0 0 0.1rem crimson);
    padding: 3px;
}
a:hover {
    background-color: #ac2929;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
}
blockquote {
    color: #666;
    margin-left: 1rem;
}
body {
    background-image: url('../img/bg.jpg');
    background-color: #000;
    background-position: -25px -25px;
    background-repeat: no-repeat;
    color: #ccc;
    font-family: 'Nuosu SIL', serif;
    text-align: left;
}
div {
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 150%;
    margin: 0 auto;
    max-width: 530px;
    padding: 10px 55px;
}
div * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
div h3 {
    margin: 1.5rem 0;
}
h1 {
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    display: block;
    height: 150px;
    margin: 1rem auto;
    max-width: 100%;
    width: 530px;
}
h1 span, h2 {
    display: none;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
}
table {
    border-collapse: collapse;
    color: #ccc !important;
    width: 100%;
}
tr {
    border-bottom: 1px solid;
}
td, th {
    padding: 10px 0;
}
